<div class="relative">
  <!-- Sidebar -->
  <aside
  class="fixed left-0 top-0 h-screen w-60 shadow flex flex-col z-10 bg-white"
>
  <!-- Logo -->
  <div class="py-3 pl-6">
    <!-- <img src="assets/images/logo.svg" alt="Logo" class="h-12 max-w-full object-contain logo-primary" /> -->
  <svg id="Color_big" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 729.4 257.7">
  <!-- Generator: Adobe Illustrator 29.1.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 142)  -->
  <defs>
    <style>
      .st0, .st1 {
        fill: var(--p-primary-color);
      }

      .st1 {
        fill-rule: evenodd;
      }

      .st2 {
        fill: #0c182d;
      }
    </style>
  </defs>
  <g>
    <path class="st0" d="M94,46.1h-51.8v65.5h51.8c19.5,0,25.2-5.9,25.2-22.5v-20.5c0-16.5-5.7-22.5-25.2-22.5ZM104.6,88.6c0,8.3-3.3,10.5-11.1,10.5h-36.7v-40.4h36.7c8.6,0,11.1,2.5,11.1,10.6v19.4Z"/>
    <path class="st0" d="M139.6,42.2h-4.7c-3.5,0-4.9,1.2-4.9,4.3v5.6c0,3.1,1.4,4.4,4.9,4.4h4.7c3.6,0,5-1.3,5-4.4v-5.6c0-3.1-1.4-4.3-5-4.3ZM130,60.9v50.7h14.6v-50.7h-14.6Z"/>
    <path class="st0" d="M200.8,59.5h-23.2c-17.8,0-22.5,4.9-22.5,20.7v8c0,12.6,5.9,17.4,21.8,17.4h32.6v4.2c0,4.1-1.6,5.6-5.9,5.6h-19.9v11.7h21.2c13,0,18.4-4.9,18.4-16.5v-30.3c0-14.8-5.5-20.7-22.7-20.7ZM209.6,94.5h-31.8c-6.6,0-8.6-1.4-8.6-7v-6.8c0-6.9,2-8.9,8.6-8.9h22.5c7,0,9.3,1.9,9.3,8.8v13.9Z"/>
    <path class="st0" d="M243.8,42.2h-4.7c-3.6,0-4.9,1.2-4.9,4.3v5.6c0,3.1,1.3,4.4,4.9,4.4h4.7c3.7,0,5-1.3,5-4.4v-5.6c0-3.1-1.3-4.3-5-4.3ZM234.2,60.9v50.7h14.6v-50.7h-14.6Z"/>
    <path class="st0" d="M277.7,59.5v-14.7h-14.6v14.7h-7.3v11.6h7.3v40.4h14.6v-40.4h16.4v-11.6h-16.4Z"/>
    <path class="st0" d="M342.8,59.5h-14.2v10.2h14.2c6.3,0,8.8,1.7,8.8,8.3v1.2h-38.5c-14.4,0-18.1,5-18.1,13.7v4.9c0,8.4,4,13.7,19,13.7h28.1c18.4,0,23.7-5.1,23.7-20.2v-12.7c0-13.2-6.5-19.2-23.1-19.2ZM351.7,92.5c0,7.8-2.9,9.3-9.6,9.3h-26.9c-3.6,0-5.9-1.2-5.9-4.9v-3.6c0-4.1,2-5.3,5.4-5.3h37v4.4Z"/>
    <path class="st0" d="M376.8,42.7v68.8h14.6V42.7h-14.6Z"/>
  </g>
  <g>
    <path class="st2" d="M153.4,133.5l-19.9,47.3-18.7-42.9c-1.8-4.3-4.2-5.9-8.9-5.9s-6.9,1.5-8.8,5.9l-19.5,42.9-19.2-47.3h-16.2l25.4,60.7c1.5,3.7,4,6.2,8.7,6.2s7.5-2.5,9.3-6.2l20.1-42.3,19,42.3c1.7,3.8,4.6,6.2,9.2,6.2s7-2.6,8.6-6.2c4.2-9.9,22.4-50.7,26.8-60.7h-15.9Z"/>
    <path class="st2" d="M210.4,147h-17.4c-19.3,0-25,5.9-25,22.6v7c0,16.5,5.7,22.5,25,22.5h17.4c19.4,0,25.1-5.9,25.1-22.5v-6.9c0-16.7-5.7-22.7-25.1-22.7ZM221.2,176.2c0,8.6-2.3,10.8-12.7,10.8h-13.5c-10.2,0-12.6-2.1-12.6-10.8v-6.1c0-8.8,2.4-10.8,12.6-10.8h13.5c10.4,0,12.7,1.9,12.7,10.8v6.1Z"/>
    <path class="st2" d="M270.7,147c-17.6,0-24.4,6.3-24.4,21.9v30.1h14.3v-30.1c0-8.3,2.5-10.4,10.5-10.4h8.9v-11.6h-9.3Z"/>
    <path class="st2" d="M319.3,172l32.4-25.1h-18.6l-30,24.1v-40.9h-14.4v68.8h14.4v-24.6l30.2,24.6h19.3l-33.2-27Z"/>
    <path class="st2" d="M407.3,160.2h-30.6c-4.7,0-6.4-1.5-6.4-5.7v-2.1c0-5.2,2.1-6.5,6.5-6.5h19v-12.4h-20.3c-13.2,0-18.5,5-18.5,18.4v3.3c0,11.2,3.8,16.6,18.5,16.6h31.2c5.1,0,7.3,1.5,7.3,5.7v3.6c0,4.4-2.2,5.6-7.4,5.6h-49.7v12.4h50.5c14.6,0,20-4.8,20-17v-5.2c0-11.8-5.4-16.6-20-16.6Z"/>
    <path class="st2" d="M479.6,147h-28.9v-16.8h-14.3v68.8h14.3v-39.8h28.5c8.8,0,11.2,2,11.2,10.8v29h14.3v-29.5c0-16.6-5.7-22.6-25.2-22.6Z"/>
    <path class="st2" d="M662.3,141.7h-18.2c-19.4,0-25.1,5.9-25.1,22.6v45h14.3v-15.6h29c19.4,0,25.1-6,25.1-22.5v-7c0-16.6-5.7-22.6-25.1-22.6ZM673.1,170.8c0,9.4-2.5,10.8-12.5,10.8h-27.3v-17c0-8.5,2.2-10.7,11.2-10.7h15.9c10.1,0,12.6,1.6,12.6,10.8v6.1Z"/>
    <g id="Icon">
      <path class="st1" d="M610.7,154.9l-6.8-1.9-2-.6c-.6-2.2-1.5-4.3-2.4-6.4l-9.7,11.7c2.2,9.3,0,19.5-7.1,27.2-10.2,11.2-27.6,12.9-39.9,4s-16.5-30.3-5.4-43.5c6.3-7.6,15.5-11.2,24.6-10.8l9.7-11.7c-2.2-.6-4.4-1-6.7-1.2l-.9-1.8-3.1-6.3-10.1.9-1.9,6.8-.6,2c-5.4,1.6-10.5,4.2-15,7.9l-1.9-.7-6.7-2.3-3.3,3.9-3.3,3.9,3.5,6.2,1,1.8c-2.8,5.1-4.4,10.6-5,16.2l-1.8.9-6.3,3.1.9,10.1,6.8,1.9,2,.6c1.6,5.4,4.2,10.5,7.9,15l-.7,1.9-2.3,6.7,3.9,3.3,3.9,3.3,6.2-3.5,1.8-1c5.1,2.8,10.6,4.4,16.2,5l.9,1.8,3.1,6.3,10.1-.9,1.9-6.8.6-2c5.4-1.6,10.5-4.2,15-7.9l1.9.7,6.7,2.3,3.3-3.9,3.3-3.9-3.5-6.2-1-1.8c2.8-5.1,4.4-10.6,5-16.2l1.8-.9,6.3-3.1-.9-10.1Z"/>
      <g>
        <path class="st1" d="M610.1,112.9c-1.3,1.5-3.4,2-5.1,1.3l-24.8,29.8c-.7-.7-1.4-1.3-2.1-1.9,8.2-9.9,16.4-19.8,24.7-29.7-1-1.6-.9-3.7.4-5.3,1.6-1.9,4.5-2.2,6.4-.6s2.2,4.5.6,6.4Z"/>
        <path class="st1" d="M592,114.2c-1.3,1.5-3.4,2-5.1,1.3l-4.3,5.2.6,6.4c0,.4,0,.8-.3,1.1l-9.2,11.1h0c-.9-.4-1.8-.9-2.7-1.2l9.3-11.2-.6-6.4c0-.4,0-.8.3-1.1l4.7-5.6c-1-1.6-.9-3.8.4-5.3,1.6-1.9,4.5-2.2,6.4-.6,1.9,1.6,2.2,4.5.6,6.4Z"/>
        <path class="st1" d="M612.1,130.9c-1.3,1.5-3.4,2-5.1,1.3l-4.7,5.6c-.2.3-.6.5-1,.5l-6.4.6-9.9,11.9c-.4-.9-.9-1.8-1.5-2.7l9.6-11.5c.2-.3.6-.5,1-.5l6.4-.6,4.3-5.2c-1-1.6-.9-3.8.4-5.3,1.6-1.9,4.5-2.2,6.4-.6,1.9,1.6,2.2,4.5.6,6.4Z"/>
      </g>
      <path class="st0" d="M582.8,168.2v-6.1c0-1.4-.6-3.3-3.6-5.2,0,0-1.6-3.6-4.7-6.1-.7-.6-1.5-1.2-2.4-1.6-1.1-.5-2.4-.9-3.7-.9h-15.8c-6.9,0-10.8,8.5-10.8,8.5-3,1.9-3.6,3.9-3.6,5.2v6.1h0v9.5c.1.2.3.3.6.3h5.3c.4,0,.8-.3.8-.8v-3.6c2.2-.7,4.4-1.2,6.5-1.6h18.5c2.1.4,4.3.9,6.5,1.6v3.6c0,.4.3.8.8.8h5.3c.2,0,.4,0,.6-.3v-9.5h0ZM549,168.6h-5.7c-.9,0-1.6-.7-1.6-1.5v-1.6c0-.9.7-1.5,1.6-1.5s.2,0,.3,0l6.4,2.3c.3.1.5.4.5.7,0,.8-.7,1.5-1.5,1.5ZM566.4,168.9c-.3.4-.8.6-1.4.6h-9.2c-1,0-1.9-.9-1.9-1.9s.2-1,.6-1.4c.4-.3.8-.6,1.4-.6h9.2c1.1,0,1.9.9,1.9,1.9s-.2,1-.6,1.4ZM545.8,157c1.5-2.7,4.2-6.1,7.7-6.1h14.1c1,0,1.8.3,2.7.7.8.4,1.6,1,2.3,1.8,1.1,1.1,2,2.5,2.7,3.7h-29.4ZM579.2,167c0,.9-.7,1.6-1.5,1.6h-5.7c-.8,0-1.5-.7-1.5-1.6s.2-.6.5-.7l6.4-2.3c0,0,.2,0,.3,0,.8,0,1.5.7,1.5,1.6v1.6Z"/>
    </g>
  </g>
</svg>
  
  
  
  
  </div>

  <!-- Scrollable middle content -->
  <div class="grow overflow-y-auto px-4 py-3">
    <!-- Main menu -->
    <p-menu [model]="items" class="p-menu-compact">
      <ng-template pTemplate="item" let-item>
        <a class="p-menu-item-link flex items-center gap-2" [routerLink]="item.routerLink">
          <span class="material-symbols-outlined p-menu-item-icon text-lg">
            {{ item.materialIcon }}
          </span>
          <span class="p-menu-item-label text-sm whitespace-nowrap overflow-hidden text-ellipsis">
            {{ item.label }}
          </span>
        </a>
      </ng-template>
    </p-menu>
  </div>

  <!-- Logged in User Section -->
  <div class="px-4 py-4 border-t border-gray-200">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <span class="text-xs font-semibold text-gray-600">{{ this.sharedService.T('loggedInUser')}}:</span>
        <span class="text-xs font-medium text-blue-600">{{currentUser}}</span>
      </div>
      <div class="w-full">
        <p-button 
          label="Logout" 
          icon="pi pi-sign-out"
          (onClick)="onLogout()"
          [text]="true"
          size="small"
          >
        </p-button>
      </div>
    </div>
  </div>

  <!-- Pinned bottom language select -->
  <div class="px-4 pb-4 space-y-4 border-t border-gray-200 pt-4">

    <!-- Theme Select -->
    <div>
      <label class="mb-3 block text-sm font-semibold text-gray-800">{{ this.sharedService.T('colorTheme')}}</label>
      <p-select
        class="w-full"
        [options]="palettes"
        [(ngModel)]="selectedTheme"
        optionLabel="label"
        optionValue="value"
        (onChange)="onPaletteChange($event.value)"
        styleClass="w-full"
        [showClear]="false"
      >
        <!-- Dropdown items -->
        <ng-template pTemplate="item" let-opt>
          <div class="flex items-center gap-3">
            <span
              class="inline-block w-5 h-5 rounded-full border-2 border-gray-400 shadow-sm"
              [ngStyle]="{ 'background-color': opt.color }"
            ></span>
            <span class="font-medium">{{ opt.label }}</span>
          </div>
        </ng-template>

        <!-- Selected value -->
        <ng-template pTemplate="selectedItem" let-opt>
          <div class="flex items-center gap-3" *ngIf="opt">
            <span
              class="inline-block w-5 h-5 rounded-full border-2 border-gray-400 shadow-sm"
              [ngStyle]="{ 'background-color': opt.color }"
            ></span>
            <span class="font-medium">{{ opt.label }}</span>
          </div>
        </ng-template>
      </p-select>
    </div>
  </div>
</aside>


  
  <!-- Main content (fills remaining width, scrolls; extra bottom space for fixed footer) -->
  <main class="ml-60 h-screen overflow-y-auto pb-12">
    
    <header class="flex items-center justify-between lg:px-6 px-3 py-2 h-16 header-primary">
    <div class="">
      <!-- @if(selectedRoute === 'sv/dashboard')
      {
        <p class="font-normal text-2xl"> wwee {{selectedRoute}} {{ this.sharedService.T('welcome') }}</p>
      }
      @else if (selectedRoute === 'sv/vehicle') {
        
        <p class="font-normal text-2xl"> vehicle {{selectedRoute}} {{ this.sharedService.T('vehicleSearch') }}</p>
      }
      @else {
        <p class="font-normal text-2xl"> {{selectedRoute}} {{ currentMenuLabel }}</p> 
         
      } -->
    <!-- <p class="font-normal text-2xl" *ngIf=""> 1 {{ selectedRoute }} {{ this.sharedService.T('welcome') }}</p>
    <p class="font-normal text-2xl" *ngIf="selectedRoute === 'sv/vehicle'"> 2 {{ selectedRoute }}{{ this.sharedService.T('vehicleSearch') }}</p>
    <p class="font-normal text-2xl" *ngIf="selectedRoute !== 'sv/dashboard' || selectedRoute !== 'sv/vehicle'">
      3 {{ selectedRoute }} 
    </p> -->
    <p class="font-normal text-2xl"> {{ currentMenuLabel }} </p>
    </div>
    <div class="flex gap-2">
      <p-select [options]="workshops"  [(ngModel)]="selectedWorkshop" [ngModelOptions]="{standalone: true}" optionLabel="workshopName" class="w-full md:w-56">
          <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2" *ngIf="selectedOption">
                  <div>{{ selectedOption.workshopName }}</div>
              </div>
          </ng-template>
          <ng-template let-workshop #item>
              <div class="flex items-center gap-2">
                  <div>{{ workshop.workshopName }}</div>
              </div>
          </ng-template>
      </p-select>
          <p-select class="w-full h-12" [options]="sharedService.getEnums('lang')"
      [(ngModel)]="selectedLang"
      optionLabel="text"
      optionValue="value"
      (onChange)="ChangeLang($event)"
    >
      <!-- Selected language -->
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex items-center gap-2" *ngIf="selectedOption">
          <img
            [src]="'assets/images/' + selectedOption.value + '.png'"
            class="w-4 h-4"
          />
          <div>{{ selectedOption.text }}</div>
        </div>
      </ng-template>

      <!-- Language items -->
      <ng-template pTemplate="item" let-language>
        <div class="flex items-center gap-2">
          <img
            [src]="'assets/images/' + language.value + '.png'"
            class="w-4 h-4"
          />
          <div>{{ language.text }}</div>
        </div>
      </ng-template>
    </p-select>

    </div>
    </header>

    <!-- rest of the page -->
    <router-outlet></router-outlet>
  </main>

  <!-- Fixed footer aligned to the right of the sidebar -->
  <footer class="fixed bottom-0 right-0 left-60 h-12 px-5 border-t flex justify-between items-center bg-white">
    <ul class="flex gap-4 text-sm">
      <li class="flex gap-1 items-center">
        <a target="_blank" href="#">
          <span class="material-symbols-outlined">forward_to_inbox</span>
          <span>FAQ</span> 
        </a>
      </li>
      <li class="flex gap-1 items-center">
        <img src="assets/images/help.png" alt="">
        <a href="#">Help</a>
      </li>
      <li class="flex gap-1 items-center">
        <img src="assets/images/emailus.png" alt="">
        <a href="#">Email us</a>
      </li>
      <li class="flex gap-1 items-center">
        <img src="assets/images/phone.png" alt="">
        <a href="#">Ring oss</a>
      </li>
      <li class="flex gap-1 items-center">
        <img src="assets/images/clock.png" alt="">
        <span>Mon - thu 09:00 - 12:00</span>
      </li>
    </ul>

    <div class="flex items-center gap-2">
      <span>V{{version}}</span>
      <button class="flex gap-1 text-sm px-2.5 py-1.5 rounded-full">
        <img src="assets/images/Bhelp.png" alt="">
        <span>help</span>
      </button>
    </div>
  </footer>
</div>


