<app-generic-loader *ngIf="isLoading"></app-generic-loader>
<!-- header start -->
<header class="flex items-center justify-between lg:px-6 px-3 py-2 h-16 bg-white">
  <div class="">
    <p class="font-normal text-2xl">{{ this.sharedService.T('digitalServiceRecord') }}</p>
  </div>
  <div class="flex gap-2">
    <span class="my-auto">{{ this.sharedService.workshopName}}</span>
    <div
      class="h-11 w-11 rounded-full border border-CustomBorder uppercase justify-center items-center flex font-me dium">
      <p>AS</p>
    </div>
  </div>
</header>

<!-- header end -->

<!-- <main class="flex-1 overflow-x-hidden overflow-y-auto bg-bgColor">
 <div class="container px-4 mx-auto"> -->

<section class="p-6 pb-10">
  <p-toast />
  <p-confirmdialog />

  <form [formGroup]="filters">
    <div class="p-8 rounded-lg shadow-lg bg-white">


      <div class="mb-6 mt-1 text-sm font-medium shadow-sm rounded-md p-5">
        <div class="flex items-center gap-4 flex-wrap lg:flex-nowrap mb-6">

          <div class="flex items-center gap-3 flex-wrap lg:flex-nowrap">
            <p-button [raised]="true" size="large" label="{{ this.sharedService.T('createDigitalservice') }}"
              icon="pi pi-plus" (onClick)="openDigitalServiceDialog()">
            </p-button>

            <div class="ds-underline-wrap ds-filter-item flex items-center whitespace-nowrap shrink-0">
              <p-checkbox inputId="ds-current-workshop" [(ngModel)]="onlyThisWmsid"
                [ngModelOptions]="{standalone: true}" [binary]="true" (onChange)="onChangeCurrentWorkshop($event)">
              </p-checkbox>
              <label class="ds-checkbox-label ml-2" for="ds-current-workshop">
                {{ this.sharedService.workshopName }}
              </label>
            </div>
          </div>

          <div class="rounded-md ml-auto flex items-center gap-2">
            <p-datepicker formControlName="year" view="year" dateFormat="yy" class="w-19"
              (onSelect)="onSelectYear($event)">
            </p-datepicker>

            <div class="ds-date-range flex items-center">
              <p-date-picker dataType="string" formControlName="fromDate" class="w-30" dateFormat="yy-mm-dd"
                [iconDisplay]="'input'" [showIcon]="false" (onSelect)="onSelectFromDate()">
              </p-date-picker>

              <span class="ds-date-connector mx-1" aria-hidden="true"></span>

              <p-date-picker dataType="string" formControlName="toDate" class="w-30" dateFormat="yy-mm-dd"
                [iconDisplay]="'input'" [showIcon]="false" (onSelect)="onSelectToDate()">
              </p-date-picker>
            </div>

            <div class="rounded-md ml-auto mb-3">
              <div class=" w-full ps-2 h-10 rounded-md ">
                <p-iconfield>
                  <p-inputicon class="pi pi-search" />
                  <p-autoComplete formControlName="vehiclePlate" [suggestions]="vehiclePlates"
                    placeholder="{{ this.sharedService.T('search') }} {{ this.sharedService.T('vehiclePlate') }}"
                    (onSelect)="onSelectNumberPlate($event)" (onClear)="onClearNumberPlate()"
                    (keyup)="keyupNumberPlate($event.target)" [showClear]="true">
                    <ng-template let-plate pTemplate="item">
                      <div class="flex items-center gap-2">
                        <div>{{ plate }}</div>

                      </div>
                    </ng-template>
                  </p-autoComplete>
                </p-iconfield>
              </div>
            </div>
          </div>
        </div>

        <hr class="border-CustomBorder">
      </div>

      <div class="mb-12">
        <p-table [lazy]="true" [value]="digitalServices" [rows]="10" [showGridlines]="false"
          [first]="(filters.get('currentPage')?.value - 1) * filters.get('pageSize')?.value"
          (onLazyLoad)="sortColumn($event)" sortField="creationDate" responsiveLayout="scroll" [sortOrder]="-1">

          <ng-template pTemplate="header">
            <tr>
              <th class="rounded-l-xl" pSortableColumn="creationDate">
                <p-sortIcon field="creationDate" />
              </th>
              <th>{{ this.sharedService.T('vehiclePlate') }}</th>
              <th>{{ this.sharedService.T('vehicleMake') }}</th>
              <th>{{ this.sharedService.T('vehicleModel') }}</th>
              <th>{{ this.sharedService.T('vehicleYear') }}</th>
              <th>{{ this.sharedService.T('serviceType') }}</th>
              <th>{{ this.sharedService.T('serviceDate') }}</th>
              <th>{{ this.sharedService.T('nextServiceDate') }}</th>
              <th>{{ this.sharedService.T('nextServiceMileage') }}</th>
              <th>{{ this.sharedService.T('workshop') }}</th>
              <th class="rounded-r-xl">{{ this.sharedService.T('comments') }}</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-ds>
            <tr>
              <td class="rounded-l-lg">
                {{ ds.creationDate }}
              </td>
              <td>
                <div class="flex items-center gap-2 cursor-pointer"
                  (click)="redirectToVehicleDetailComponent(ds.vehiclePlate)"
                  [title]="'Vehicle Number: ' + ds.vehiclePlate">
                  <span class="id-text">{{ ds.vehiclePlate }}</span>
                  <i class="pi pi-external-link icon-primary"></i>
                </div>
              </td>
              <td>{{ ds.vehicleManufacturer }}</td>
              <td>{{ ds.vehicleModel }}</td>
              <td>{{ ds.vehicleYear }}</td>
              <td>
                <strong>{{ this.sharedService.getEnumByValue('digitalserviceType', ds.serviceType).text }}</strong>
              </td>
              <td>{{ ds.serviceDate | date: 'yyyy-MM-dd' }}</td>
              <td>{{ ds.nextServiceDate | date: 'yyyy-MM-dd' }}</td>
              <td>{{ ds.nextServiceVehicleMileage }}</td>
              <td [pTooltip]="
            '<div class=\'tooltip-content\'>' +
              '<b>Workshop Name:</b><br>' + ds.workshopName + '<br><br>' +
              '<b>Address:</b><br>' + ds.workshopAddress + ', ' + ds.workshopCity + '<br><br>' +
              '<b>Telephone:</b><br>' + ds.telephone + '<br><br>' +
              '<b>Email:</b><br>' + ds.email +
            '</div>'" tooltipPosition="top" [tooltipOptions]="{ escape: false }" tooltipStyleClass="custom-tooltip">
                {{ ds.workshopName?.length > 18 ? (ds.workshopName | slice : 0 : 18) + '...' : ds.workshopName }}
              </td>
              <td class="rounded-r-lg">{{ ds.comments }}</td>
            </tr>
          </ng-template>
        </p-table>

        <div *ngIf="pager.totalRecords > 10" class="flex items-center justify-between py-6">

          <div class="flex items-center">
            <p-select [options]="[10, 20, 30]" [(ngModel)]="pager.pageSize" [ngModelOptions]="{standalone: true}"
              styleClass="bg-white border border-CustomBorder rounded-md" (onChange)="onPageSizeChange($event)">
            </p-select>
          </div>

          <p-paginator [first]="pager.firstPage" [rows]="pager.pageSize" [totalRecords]="pager.totalRecords"
            (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true" [showFirstLastIcon]="true"
            currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords}"
            styleClass="!bg-transparent">

            <ng-template pTemplate="firstpagelinkicon">
              <img src="assets/icons/paginator/previus.svg" alt="">
            </ng-template>
            <ng-template pTemplate="lastpagelinkicon">
              <img src="assets/icons/paginator/next.svg" alt="">
            </ng-template>
            <ng-template pTemplate="previouspagelinkicon">
              <div class="flex items-center gap-2">
                <div>{{ this.sharedService.T('previous') }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="nextpagelinkicon">
              <div class="flex items-center gap-2">
                <div>{{ this.sharedService.T('next') }}</div>
              </div>
            </ng-template>
          </p-paginator>
        </div>
      </div>
    </div>
  </form>
  <!-- digital service popup code -->

  <p-dialog [modal]="true" [(visible)]="showDigitalServiceDialog" class="custom-dialog" styleClass="!bg-bgColor"
    [contentStyle]="{ padding: '1rem 2rem'}">

    <header class="text-2xl font-bold mb-2">
      {{ this.sharedService.T('createDigitalservice') }}
    </header>

    <p-message severity="warn">
      {{ this.sharedService.T('verifyBeforeCreateDigitalService') }}
    </p-message>

    <hr class="my-3" />

    <form [formGroup]="digitalService">
      <div class="text-sm font-medium shadow-sm bg-white rounded-md p-5 border border-CustomBorder">

        <div class="grid grid-cols-2 gap-6">

          <div class="flex flex-col gap-4">

            <div>
              <label class="block mb-2">{{ this.sharedService.T('invoice') }} # </label>
              <div class="flex gap-2">
                <input formControlName="invoiceId" class="w-full" pInputText />
                <p-button [raised]="true" label="{{ this.sharedService.T('validateAndAttachInvoice') }}" size="large"
                  class="whitespace-nowrap border-none"
                  (click)="validateAndAttachInvoice(digitalService.get('invoiceId')?.value)">
                </p-button>
              </div>
            </div>

            <div>
              <label class="block mb-2">{{ this.sharedService.T('digitalWorkshopId') }} <span
                  class="text-red-500">*</span> </label>

              <input type="text" formControlName="userId" class="w-full" pInputText />
            </div>

            <div class="grid grid-cols-2 gap-4">
              <div class="relative">
                <label class="block mb-2">{{ this.sharedService.T('vehiclePlate') }}<span
                    class="text-red-500">*</span></label>
                <p-iconfield>
                  <p-inputicon class=" icon-primary pi pi-car" />
                  <input pInputText type="text" class="uppercase p-2 w-full pl-12 " formControlName="vehiclePlate"
                    maxlength="10" placeholder="ABC123" (input)="onInputChange($event)" />
                </p-iconfield>
              </div>

              <div>
                <label class="block mb-2">{{ this.sharedService.T('vehicleMake') }}<span class="text-red-500">*</span>
                </label>
                <p-autoComplete formControlName="vehicleManufacturer" [suggestions]="manufacturers"
                  (completeMethod)="filterManufacturers($event)" [minLength]="1" placeholder="Ange söktext"
                  forceSelection="true" class="w-full">
                </p-autoComplete>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4">
              <div>
                <label class="block mb-2">{{ this.sharedService.T('vehicleModel') }} <span
                    class="text-red-500">*</span></label>
                <p-autoComplete formControlName="vehicleModel" [suggestions]="models"
                  (completeMethod)="filterModels($event)" [minLength]="1" placeholder="Välj modell"
                  forceSelection="true" class="w-full">
                </p-autoComplete>
              </div>
              <div>
                <label class="block mb-2">{{ this.sharedService.T('vehicleYear') }} <span
                    class="text-red-500">*</span></label>
                <input type="number" formControlName="vehicleYear" class="w-full" pInputText />
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4">
              <div>
                <label class="block mb-2">{{ this.sharedService.T('serviceDate') }} <span
                    class="text-red-500">*</span></label>
                <p-date-picker formControlName="serviceDate" dataType="string" dateFormat="yy-mm-dd"
                  icon="pi pi-calendar" class="w-full">
                </p-date-picker>
              </div>
              <div>
                <label class="block mb-2">{{ this.sharedService.T('nextServiceDate') }} <span
                    class="text-red-500">*</span></label>
                <p-date-picker formControlName="nextServiceDate" dataType="string" dateFormat="yy-mm-dd"
                  icon="pi pi-calendar" class="w-full">
                </p-date-picker>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4">
              <div>
                <label class="block mb-2">{{ this.sharedService.T('vehicleMileage') }} <span
                    class="text-red-500">*</span></label>
                <input type="text" formControlName="vehicleMileage" class="w-full" pInputText />
              </div>
              <div>
                <label class="block mb-2">{{ this.sharedService.T('nextServiceMileage') }} <span
                    class="text-red-500">*</span></label>
                <input formControlName="nextServiceVehicleMileage" class="w-full" pInputText />
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-4">
            <div>
              <label class="block mb-2">{{ this.sharedService.T('serviceType') }} <span
                  class="text-red-500">*</span></label>
              <p-select [options]="this.sharedService.getEnums('digitalserviceType')" formControlName="serviceType"
                optionLabel="text" optionValue="value" editable="true" class="w-full"
                (onChange)="onServiceTypeChange($event)">
              </p-select>
            </div>
            <div class="flex-grow">
              <label class="block mb-2">{{ this.sharedService.T('workCarriedOut') }} <span
                  class="text-red-500">*</span></label>
              <p-listbox [options]="this.sharedService.getEnums('digitalservice')" [multiple]="true" [checkbox]="true"
                formControlName="services" optionLabel="text" optionValue="value" class="w-full custom-listbox">
              </p-listbox>
            </div>
          </div>
        </div>

        <div class="mt-6 mb-6">
          <label class="block mb-2">{{ this.sharedService.T('description') }}</label>
          <textarea formControlName="comments" class="w-full shadow-sm border border-gray-300 rounded-md p-2" rows="3"
            pTextarea></textarea>
        </div>

        <div class="flex items-center gap-3">
          <p-button [raised]="true" label="{{ this.sharedService.T('createDigitalservice') }}" size="large"
            icon="pi pi-plus" (click)="validateDigitalService($event)">
          </p-button>
          <p-button size="large" severity="secondary" label="{{ this.sharedService.T('cancel') }}"
            (click)="closeDigitalServiceDialog()">
          </p-button>
        </div>

      </div>
    </form>
  </p-dialog>


</section>
<!-- </div>
</main> -->