<div class="flex items-center justify-center bg-gray-100 min-h-screen">
  <!-- Form Container -->
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmitted()" class="space-y-6">
      <!-- Title -->
      <div>
        <p class="font-semibold text-3xl lg:text-4xl text-start">
          Glömt lösenord
        </p>
      </div>

      <!-- Email Address Field -->
      <div>
        <label for="email" class="block font-semibold mb-2">E-postadress</label>
        <input 
          id="email" 
          type="email" 
          formControlName="email" 
          class="w-full p-3 border border-gray-300 rounded-lg bg-[#0052CC1A] focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-red-500 text-sm mt-2">
          Ange en giltig e-postadress.
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        <p-button 
          type="submit" 
          [disabled]="forgotPasswordForm.invalid" 
          [raised]="true" 
          label="Skicka återställningslänk" 
          size="large" 
          styleClass="w-full flex justify-center px-7 py-3 mt-5 !border-0"
        />
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage" class="text-green-500 text-center mt-4">
        {{ successMessage }}
        <a (click)="navigateToLogin()" class="text-blue-500 underline cursor-pointer">Logga in</a>
      </div>
    </form>
  </div>
</div>
