<!-- header start -->
  <app-generic-loader *ngIf="isLoading"></app-generic-loader>
<header class="flex items-center justify-between lg:px-6 px-3 py-2 h-16 bg-white">
  <div class="">
    <p class="font-normal text-2xl">{{ this.sharedService.T('invoice') }} #{{this.invoiceId}} </p>
  </div>
</header>
<!-- header end --> 

<section class="px-4 pb-5">

  <div class="grid grid-cols-12 min-h-screen gap-4">
    <div class="col-span-8">
      <div class="px-2 text-xs mb-3">
        @if(isEmailSent === true)
        {
        <p-message severity="success">{{ this.sharedService.T('email.confirm.message.save') }} </p-message>
        }

        @if (isEmailSent === false) {
        <p-message severity="error"> {{ this.sharedService.T('sent.confirm.message.error') }} support&#64;digitalworkshop.nu
        </p-message>
        }
      </div>
      <div class="h-[80vh]">
        <pdf-viewer
          [src]="pdfUrl"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="true"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          class="w-full h-full block">
        </pdf-viewer>
      </div>    
    </div>
    <div class="col-span-4">
      <p-toast />
      <p-confirmdialog />
      <div class="px-2 mb-3 mt-2 pb-4 bg-white shadow rounded-xl">
          <p-button size="large" styleClass="w-full mb-3 mt-2" label="{{ this.sharedService.T('sendInvoice') }}"
            (onClick)="openEmailDialog()">
          <span class="material-symbols-outlined">forward_to_inbox</span>
          </p-button>
          <p-button size="large" styleClass="w-full mb-3" disabled="{{disableEdit}}"
            label="{{ this.sharedService.T('editInvoice') }}" (onClick)="redirectToInvoiceCrudComponent()">
            <span class="material-symbols-outlined">edit</span>
          </p-button>

          <div class="ms-10">
            <div class="flex gap-2 my-3 cursor-pointer">
              <div class="w-5">
                <span class="material-symbols-outlined">picture_as_pdf</span>   
              </div>
              <span (click)="generatePdf()">{{ this.sharedService.T('showPdf') }} </span>
            </div>
            @if(!credit)
            {
            <div class="flex gap-2 my-3 cursor-pointer">
              <div class="w-5">
                <span class="material-symbols-outlined">content_copy</span>              
              </div>
              <span (click)="confirmDuplicate($event)">{{ this.sharedService.T('duplicate') }}</span>
            </div>
            }

            @if(!credit)
            {
            <div class="flex gap-2 my-3 cursor-pointer">
              <div class="w-5">
                <span class="material-symbols-outlined">assignment_return</span>
              </div>
              <span (click)="confirmCredit($event)"> {{ this.sharedService.T('creditInvoice') }} </span>
            </div>
            }

            <div class="flex gap-2 my-3 cursor-pointer">
              <div class="w-5">
                <span class="material-symbols-outlined">person</span>
              </div>
              <span (click)="redirectToCustomerDetailComponent()">{{ this.sharedService.T('viewCustomer') }}</span>
            </div>
          </div>
        
      </div>
      <div class="bg-white shadow rounded-xl p-4">
        <h3 class="text-2xl font-semibold mb-6 text-black">{{ this.sharedService.T('invoiceHistory') }}</h3>
            <p-timeline [value]="invoiceHistory" class="w-full md:w-120" align="right">
               <ng-template #opposite let-history>
                <small class="text-surface-500 dark:text-surface-400">{{ this.sharedService.getEnumByValue("history", history.actionType).text }}</small>    
                </ng-template>
                <ng-template #content let-history>
                <small class="text-surface-500 dark:text-surface-400">{{ history.createdOn | date: 'yyyy-MM-dd HH:mm:ss' }}</small>    
                </ng-template>


            </p-timeline>
      </div>
    </div>
  </div>

  <p-dialog [modal]="true" [(visible)]="showEmailDialog" class="custom-dialog" styleClass="!bg-bgColor"
    [style]="{ width: '20rem' }">

    <header class="text-2xl font-bold"> Invoice # {{this.invoiceId}}</header>
    <hr class="my-3">
    <form [formGroup]="emailForm">
      <div class="year gap-3">
        <div class="mb-3">
          <p class="text-1xl mb-4">{{ this.sharedService.T('sendByEmail') }}</p>
          <p class="text-sm font-semibold">{{ this.sharedService.T('email') }}</p>
          <div class="">
            <input type="email" formControlName="emailTo" pInputText placeholder="email"
              class="w-full border p-2 border-CustomBorder rounded-md" />
          </div>
        </div>
        <div class="">
          <label for="ny" class="ml-2 text-xs font-semibold">{{ this.sharedService.T('includeMessage') }}</label>
          <div class="">
            <textarea class="border border-CustomBorder rounded-md" rows="3" formControlName="message" cols="30"
              pTextarea></textarea>
          </div>
        </div>
      </div>
      <div class="flex gap-3 mt-4">
        <p-button class="saveBtn" styleClass="px-4" label="{{ this.sharedService.T('btnsendInvoice') }}"
          (click)="sendEmail()" />
        <p-button class="cancelBtn" styleClass="!bg-darkSky !text-lightBlue px-4" label="{{ this.sharedService.T('cancel') }}"
          severity="secondary" (click)="closeEmailDialog()" />
      </div>
    </form>
  </p-dialog>
</section>
