<div class="flex items-center justify-center bg-gray-100 min-h-screen">
  <!-- Form Container -->
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onResetFormSubmitted()" class="space-y-6">
      <!-- Title -->
      <div>
        <p class="font-semibold text-3xl lg:text-4xl text-start">
            Återställ lösenord
        </p>
      </div>

      <!-- New Password Field -->
      <div>
        <label for="newPassword" class="block font-semibold mb-2">Nytt lösenord</label>
        <input 
          id="newPassword" 
          type="password" 
          formControlName="newPassword" 
          class="w-full p-3 border border-gray-300 rounded-lg bg-[#0052CC1A] focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <!-- Confirm Password Field -->
      <div>
        <label for="confirmPassword" class="block font-semibold mb-2">Bekräfta lösenord</label>
        <input 
          id="confirmPassword" 
          type="password" 
          formControlName="confirmPassword" 
          class="w-full p-3 border border-gray-300 rounded-lg bg-[#0052CC1A] focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="passwordResetForm.hasError('passwordMismatch') && passwordResetForm.touched" class="text-red-500 text-sm mt-2">
          Lösenorden matchar inte.
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        <p-button 
          type="submit" 
          [disabled]="passwordResetForm.invalid" 
          [raised]="true" 
          label="Återställ lösenord" 
          size="large" 
          styleClass="w-full flex justify-center px-7 py-3 mt-5 !border-0"
        />
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage" class="text-green-500 text-center mt-4">
        {{ successMessage }}
        <a (click)="navigateToLogin()" class="text-blue-500 underline cursor-pointer">Logga in</a>
      </div>
    </form>
  </div>
</div>
