<app-generic-loader *ngIf="isLoading"></app-generic-loader>
<!-- header start -->
<header class="flex items-center justify-between lg:px-6 px-3 py-2 h-16 bg-white">
  <div class="">
    <p class="font-normal text-2xl">{{isNewObject ? this.sharedService.T('newWorkorder') :
      this.sharedService.T('editWorkorder')}}

      #{{workOrder.get('workOrderId')?.value}}</p>
  </div>
  <div class="flex gap-2">
    <span class="my-auto">{{ this.sharedService.workshopName}}</span>
    <div
      class="h-11 w-11 rounded-full border border-CustomBorder uppercase justify-center items-center flex font-me dium">
      <p>AS</p>
    </div>
  </div>
</header>
<!-- header end -->

<!-- <section class="px-5 pb-10"> -->

<form [formGroup]="workOrder">
  <p-toast />

  <!-- Portion 1: Grundinformation -->
  <p class="mt-1 font-semibold text-lg">Grundinformation</p>


  <div class="mt-0 mb-5 p-4 rounded-lg shadow-lg border border-CustomBorder">
    <div class="grid grid-cols-12 gap-5 text-sm font-medium  bg-white rounded-md p-5">
      <!-- LINE 1: Vehicle plate with EU icon, manufacturer, model, year, mileage -->

      <!-- Vehicle Plate with EU Icon -->
      <div class="col-span-3">
        <label class="block mb-2" for="vehiclePlate">{{ this.sharedService.T('vehiclePlate') }}</label>
        <div class="relative">
             <p-iconfield>
             <p-inputicon class=" icon-primary pi pi-car" />
          <input pInputText type="text" formControlName="vehiclePlate" maxlength="10" placeholder="ABC123"
            (input)="onInputChange($event)"
            class="uppercase p-2 w-full pl-12 " />
            </p-iconfield>
        </div>
      </div>

      <!-- Vehicle Manufacturer -->
      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('vehicleMake') }}</label>
        <p-autoComplete formControlName="vehicleManufacturer" [suggestions]="manufacturers"
          (completeMethod)="filterManufacturers($event)" [minLength]="1" placeholder="Ange söktext "
          forceSelection="true" optionLabel="" [showClear]="true" class="w-full"></p-autoComplete>
      </div>

      <!-- Vehicle Model -->
      <div class="col-span-3">
        <label class="block mb-2">{{ this.sharedService.T('vehicleModel') }}</label>
        <!-- <input
          type="text"
          pInputText
          formControlName="vehicleModel"
          class="w-full border border-gray-300 rounded-md p-2 focus:outline-none"
        /> -->
        <p-autoComplete formControlName="vehicleModel" [suggestions]="models" (completeMethod)="filterModels($event)"
          forceSelection="true" [showClear]="true" class="w-full"></p-autoComplete>

      </div>

      <!-- Gap Between First 3 and Last 2 -->
      <div class="col-span-2">
        <!-- Vehicle Year -->
        <label class="block mb-2">{{ this.sharedService.T('vehicleYear') }}</label>
        <p-inputnumber formControlName="vehicleYear" placeholder="2015" mode="decimal" [min]="1960" [max]="2040"
          [useGrouping]="false"></p-inputnumber>
      </div>

      <!-- Vehicle Mileage -->
      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('vehicleMileage') }}</label>
        <input type="number" pInputText formControlName="vehicleMileage"
          class="w-full border border-gray-300 rounded-md p-2 focus:outline-none" />
      </div>
      <!-- LINE 2: Customer Name to Service Duration -->

      <div class="col-span-3">
        <label class="block mb-2">{{ this.sharedService.T('customerName') }}</label>
        <div class="col-span-3">

          <p-autocomplete [(ngModel)]="selectedCustomerName" [ngModelOptions]="{standalone: true}"
            [suggestions]="customers" (completeMethod)="filterCustomer($event)" optionLabel="customerName"
            (onSelect)="onSelect($event)" (onClear)="onUnselectCustomer()" [showClear]="true"
            [placeholder]="sharedService.T('chooseCustomer')" styleClass="w-full" class="w-full">

            <ng-template let-customer #item>
              <div class="flex items-center gap-2">
                <div>{{ customer.customerName }}</div>
              </div>
            </ng-template>

          </p-autocomplete>
        </div>
        <!-- 👇 Add Customer Order Button placed right below customer -->
        <div class="flex items-center gap-4 mt-3">
          <p-button (click)="openCustomerDialog($event)" [raised]="true"
            label="{{ this.sharedService.T('createNewCustomer') }}" size="small" icon="pi pi-plus" class="w-full">
          </p-button>
          <p-popover #customerPopup>
            <ng-template pTemplate="content">
              <form [formGroup]="customer">
                <!-- Customer Type and Tag -->
                <div class="grid grid-cols-2 gap-6">
                  <div class="mb-6">
                    <label class="block mb-2" for="customerType">{{ this.sharedService.T('customerType')
                      }}</label>
                    <p-select [options]="customerTypes" formControlName="customerType" optionLabel="customerTypeName"
                      optionValue="customerTypeId" (onChange)="onChangeCustomerType($event)" class="w-full"></p-select>
                  </div>
                  <div class="mb-6">
                    <label class="block mb-2" for="customerTag">{{ this.sharedService.T('customerTag')
                      }}</label>
                    <p-select [options]="customerTags" formControlName="customerTag" optionLabel="customerTagName"
                      optionValue="customerTagId" (onChange)="onChangeCustomerTag($event)" class="w-full"></p-select>
                  </div>
                </div>
                <!-- Customer Name -->
                <div class="mb-6">
                  <label class="block mb-2" for="customerName">{{ this.sharedService.T('customerName') }}
                    <span class="text-red-500">*</span></label>
                  <input type="text" formControlName="customerName"
                    [invalid]="customer.get('customerName')?.touched && customer.get('customerName')?.errors"
                    [appRemovePlaceholderOnFocus]="this.sharedService.T('customerName')" class="w-full" pInputText />

                </div>
                <!-- Organization Number and VAT ID -->
                <div class="grid grid-cols-2 gap-6">
                  <div class="mb-6">
                    <label class="block mb-2" for="organizationNo">{{
                      this.sharedService.T('organizationNr')
                      }}</label>
                    <input type="text" formControlName="organizationNo"
                      [appRemovePlaceholderOnFocus]="this.sharedService.T('organizationNr')" class="w-full"
                      pInputText />
                  </div>
                  <div class="mb-6">
                    <label class="block mb-2" for="vatId">{{ this.sharedService.T('vatregNr') }}</label>
                    <input type="text" formControlName="vatId"
                      [appRemovePlaceholderOnFocus]="this.sharedService.T('vatregNr')" class="w-full" pInputText />
                  </div>
                </div>
                <!-- Payment Terms and Telephone -->
                <div class="grid grid-cols-2 gap-6">
                  <div class="mb-6">
                    <label class="block mb-2" for="Invoice.InvoiceYourRef">{{
                      this.sharedService.T('paymentTerms') }}({{ this.sharedService.T('days') }})</label>
                    <p-select [options]="creditDays" formControlName="invoiceCreditDays" class="w-full "></p-select>
                  </div>
                  <div class="mb-6">
                    <label class="block mb-2" for="telephone">{{ this.sharedService.T('telephone')
                      }}</label>
                    <input type="tel" formControlName="telephone"
                      [appRemovePlaceholderOnFocus]="this.sharedService.T('telephone')" class="w-full" pInputText />
                  </div>
                </div>

                <div class="mb-6">
                  <label class="block mb-2" for="email">
                    {{ this.sharedService.T('email') }}
                  </label>

                  <input type="text" formControlName="email"
                    [appRemovePlaceholderOnFocus]="this.sharedService.T('email')" class="w-full border p-2 rounded"
                    pInputText />
                </div>

                <!-- digitalServiceId -->
                <div class="mb-6">
                  <label class="mb-2 text-Darkgray block" for="digitalserviceid">{{
                    this.sharedService.T('digitalWorkshopId') }}</label>
                  <input type="text" formControlName="digitalServiceId"
                    [appRemovePlaceholderOnFocus]="this.sharedService.T('digitalWorkshopId')" class="w-full" pInputText
                    pInputText />

                </div>
                <div class="mb-6">
                  <p-button [raised]="true" label="{{ this.sharedService.T('createCustomer') }}" size="large"
                    icon="pi pi-plus" (click)="onCreateCustomer()"></p-button>

                  <p-button size="large" severity="secondary" class="ms-4" label="{{ this.sharedService.T('cancel') }}"
                    (click)="onCancelCreateCustomer()"></p-button>
                </div>
              </form>
            </ng-template>
          </p-popover>
        </div>
      </div>
      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('customerTelephone') }}</label>
        <input type="text" pInputText formControlName="customerTelephone" class="w-full">
      </div>
      <div class="col-span-3">
        <label class="block mb-2">{{ this.sharedService.T('customerEmail') }}</label>
        <input type="email" pInputText formControlName="customerEmail" class="w-full">
      </div>

      <div class="col-span-2">
        <label class="block mb-2">Status</label>
        <p-select [options]="sharedService.getEnums('workOrderStatus')" formControlName="workOrderStatus"
          optionLabel="text" optionValue="value" class="w-full"></p-select>
      </div>

      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('paymentType') }}</label>
        <p-select [options]="sharedService.getEnums('paymentType')" formControlName="paymentType" optionLabel="text"
          optionValue="value" editable="true" class="w-full"></p-select>
      </div>

      <!-- LINE 3: Status, Payment Type, Mechanic -->
      <div class="col-span-3">
        <label class="block mb-2">{{ this.sharedService.T('Verkstadstjänster') }}</label>

        <p-multiselect *ngIf="services && services.length" [options]="services" [(ngModel)]="selectedServices"
          [ngModelOptions]="{ standalone: true }" optionLabel="serviceName" placeholder="select"
          (onChange)="onSelectService($event)" [maxSelectedLabels]="5" class="w-full" />


      </div>
      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('estimatedWorkingTime') }} (timmar)</label>
        <p-inputnumber formControlName="serviceDuration" inputId="minmaxfraction" [minFractionDigits]="1"
          [maxFractionDigits]="1" mode="decimal" [min]="0" [max]="125" class="w-full text-black"
          [locale]="this.sharedService.currentLocale"></p-inputnumber>



      </div>
      <div class="col-span-3">
        <label class="block mb-2">{{ this.sharedService.T('mechanic') }}</label>
        <p-select [options]="employees" formControlName="employeeId" optionLabel="fullName" optionValue="employeeId"
          [showClear]="true" class="w-full"></p-select>
      </div>
      <div class="col-span-2">
        <label class="block mb-2">{{this.sharedService.T('oilType')}}</label>
        <p-select [options]="oilTypes" formControlName="oilType" class="w-full"></p-select>
      </div>

      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('oilCapacity') }}</label>
        <p-inputnumber formControlName="oilCapacity" inputId="minmaxfraction" [minFractionDigits]="1"
          [maxFractionDigits]="1" suffix=" litre" mode="decimal" [min]="0" [max]="25" class="w-full text-black"
          [locale]="this.sharedService.currentLocale"></p-inputnumber>
      </div>


    </div>
  </div>
  <!-- Portion 2: Bokningsinformation -->
  <p class="font-semibold text-lg mt-0">{{ this.sharedService.T('bookingInformation') }}</p>
  <div class="mt-0 mb-5 bg-White p-4 gap-0 font-semibold rounded-lg border border-CustomBorder">
    <div class="grid grid-cols-12 gap-5 text-sm font-medium bg-white rounded-md p-5">
      <div class="col-span-3">
        <label class="block mb-2">{{ this.sharedService.T('bookingDate') }}</label>
        <p-date-picker formControlName="bookingDate" dataType="string" dateFormat="yy-mm-dd" icon="pi pi-calendar"
          (onSelect)="onSelectCalendarDate()" class="w-full">
        </p-date-picker>
      </div>
      <div class="col-span-2">
        <label class="block mb-2">{{ this.sharedService.T('bookingTime') }}</label>
        <p-select [options]="dayBookings" formControlName="bookingTime" optionValue="cTime" class="w-full">
          <ng-template #selectedItem let-selected>
            <div>{{ selected.cTime }}</div>
          </ng-template>
          <ng-template let-booking #item>
            <div>
              <span class="font-semibold">{{ booking.cTime }}</span>
              <span *ngIf="booking.workOrders.length > 0" class="text-red-500"> ({{ booking.workOrders.length }}
                bokningar)</span>
              <span *ngIf="booking.workOrders.length === 0" class="text-green-600"> {{ this.sharedService.T('free')
                }}</span>
            </div>
          </ng-template>
        </p-select>
      </div>
    </div>
  </div>

  <p class="font-semibold text-lg mt-0">
    {{ this.sharedService.T('purchaseorder') }}
    <button pButton type="button" class="ml-2 p-button-rounded p-button-text" icon="pi pi-plus"
      (click)="op.toggle($event)"></button>
  </p>

  <div class="mt-0 mb-5 bg-white font-semibold rounded-lg border border-CustomBorder">
    <!-- <div class="grid grid-cols-12 text-sm font-medium shadow-sm bg-white rounded-md p-5"> -->
    <div class="text-sm font-medium shadow-sm bg-white rounded-md p-5">
      <p-popover #op>
        <div class="flex flex-col gap-4 w-[25rem]">
          <label class="block mb-2">{{ this.sharedService.T('supplier') }}</label>
          <p-autoComplete [(ngModel)]="newWOPurchase.supplierName" [ngModelOptions]="{ standalone: true }"
            [suggestions]="suppliers" (completeMethod)="filterSuppliers($event)" [minLength]="1"
            placeholder="Ange {{ this.sharedService.T('supplier') }} " [forceSelection]="true"
            optionLabel="supplierName" optionValue="supplierName" [showClear]="true" class="w-full"></p-autoComplete>

          <label class="block mb-2">{{ this.sharedService.T('supplierReferenceNo')
            }}</label>
          <input type="text" [(ngModel)]="newWOPurchase.purchaseReference" [ngModelOptions]="{ standalone: true }"
            pInputText />

          <label class="block mb-2">{{ this.sharedService.T('personalNotes')
            }}</label>
          <textarea [(ngModel)]="newWOPurchase.purchaseNote" [ngModelOptions]="{ standalone: true }" rows="2"
            [appRemovePlaceholderOnFocus]="this.sharedService.T('personalNotes')"
            class="w-full border border-gray-300 rounded-md p-2 focus:outline-none"></textarea>

          <p-button label="{{ this.sharedService.T('add') }}" size="small" icon="pi pi-plus"
            (click)="saveWOPurchase()"></p-button>
        </div>
      </p-popover>

      <!-- Purchase List -->
      <div class="flex flex-wrap gap-4 p-0 m-0 w-full">
        <div *ngFor="let purchase of woPurchases; let i = index"
          class="flex items-center bg-white text-gray-800 px-4 py-4 rounded-lg shadow-md border border-gray-200 hover:shadow-lg transition-shadow duration-200"
          pTooltip="{{ purchase.purchaseNote }}" tooltipPosition="top">

          <div class="flex flex-col p-0 m-0">
            <span class="font-semibold text-base">{{ purchase.supplierName }}</span>
            <span class="text-sm text-gray-500">{{ purchase.purchaseReference }}</span>
          </div>
          <button pButton type="button" icon="pi pi-times" class="ml-2 p-button-rounded p-button-danger p-button-text"
            (click)="removeWOPurchase(purchase)"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Portion 4: TextArea -->
  <p class="mt-1 font-semibold text-lg">{{ this.sharedService.T('description') }}</p>
  <div class="bg-White p-4 gap-0 font-semibold rounded-lg shadow-lg border border-CustomBorder">
    <div class="grid grid-cols-12 gap-5 text-sm font-medium shadow-sm bg-white rounded-md p-5">
      <div class="col-span-12">
        <textarea class="w-full shadow-sm" formControlName="description" rows="5" cols="30" pTextarea
          [autoResize]="true">
        </textarea>
      </div>
    </div>
<div class="mt-4">
    <p-button [raised]="true"
      label="{{ isNewObject ? this.sharedService.T('create') : this.sharedService.T('update') }} {{ this.sharedService.T('workorder') }}"
      icon="pi pi-plus" size="large" (click)="onFormSubmit()"></p-button>
    <p-button size="large" severity="secondary" class="ms-4" label="{{ this.sharedService.T('cancel') }}"
      (click)="onCancelForm()"></p-button>
      </div>
  </div>
</form>
<!-- </section> -->