::ng-deep.rounded-pill{
    border: unset !important;
    padding: 0 !important;
    margin-right: 3px;
}

::ng-deep.p-autocomplete.p-component.p-inputwrapper {
    width: 100% !important;
}
::ng-deep.p-autocomplete.p-component.p-inputwrapper input {
    width: 100% !important;
    padding: .5rem!important;
  }

::ng-deep .p-autocomplete.p-component.p-inputwrapper input:focus,

::ng-deep .p-autocomplete.p-component.p-inputwrapper input:active {
    outline: none !important;
    box-shadow: none !important;
}

::ng-deep .p-inputwrapper.p-inputnumber.p-component {
    width: 100% !important;
    
}
::ng-deep .p-inputwrapper.p-inputnumber.p-component input {
    width: 100% !important;
}
  
  
  

