<div class="bg-bgColor min-h-screen">
    <div class="bg-white md:text-start text-center lg:px-6 px-3 py-2 h-24">
        <p class="font-normal text-2xl pt-1 mb-2">{{workshopName}}</p>
         <p-button 
                    size="large" 
                    styleClass="bg-blue text-white rounded-md px-4 py-2" 
                    label="Visa Som PDF (Skriv ut)" 
                    (onClick)="generatePdf()">
        </p-button>
    </div>

    <!-- Centered PDF Viewer and Button -->
    <div class="flex justify-center items-center mt-5">
        <!-- Container for PDF Viewer and Button -->
         <div class="relative w-full max-w-[800px] bg-white shadow-lg rounded-lg p-4 border border-CustomBorder"> 
            <!-- PDF Viewer -->
            <div>
                <pdf-viewer
                    [src]="pdfUrl"
                    [rotation]="0"
                    [original-size]="false"
                    [show-all]="true"
                    [fit-to-page]="false"
                    [zoom]="1"
                    [zoom-scale]="'page-width'"
                    [stick-to-page]="false"
                    [render-text]="true"
                    [external-link-target]="'blank'"
                    [autoresize]="true"
                    [show-borders]="false"
                    style="width: 100%; height: 290mm;"
                    class="rounded-lg"
                ></pdf-viewer>
            </div>
        </div>
    </div>
</div>
