/* Styling for the dropdown container */
.status-select {
  font-size: 0.875rem; /* Smaller font size */
  font-weight: 500; /* Medium weight */
  text-align: center; /* Center-align text */
  width: 100%; /* Ensure it fits nicely in the table cell */
}

.row-inactive {
    color: #666 !important;
}
