  ::ng-deep .with-out-border .p-inputnumber-input {
    border: none !important; /* Completely remove borders */
    box-shadow: none !important; /* Remove any focus shadow */
    background-color: transparent !important; /* Ensure transparent background */
    color: #1f2937 !important; /* Ensure consistent text color */
    padding: 0px !important; /* Remove padding */
    outline: none !important; /* Remove outline */
  }
  
  ::ng-deep .with-out-border.p-inputwrapper.p-inputnumber.p-component  {
    border: none !important; /* Remove the wrapper border */
    box-shadow: none !important; /* Remove any shadow */
    background-color: transparent !important; /* Ensure transparent background */
    padding: 0px !important; /* Remove any padding */
  }

/* Right-align text inside all p-inputnumber fields */
::ng-deep .right-aligned-input input.p-inputnumber-input {
  text-align: right !important; /* Align text inside the input to the right */
  width: 100px !important;
}

/* Red text for the last p-inputnumber field */
::ng-deep .text-red input.p-inputnumber-input {
  color: #dc2626 !important; /* Apply red text color */
  width: 100px !important;
}

/* Right-align the <p> tags containing labels */
.right-aligned-label {
  text-align: right !important; /* Align text to the right */
  margin-bottom: 1rem; /* Add spacing between <p> tags */
}