<!-- header start -->
<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-50 z-50">
<div class="bg-white rounded-lg p-8 shadow-lg">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
</div>
</div>

<section class="p-6 pb-10 bg-white">
  <form [formGroup]="filters">
    <!-- Filter Section -->
    <div class="mb-6 mt-10 shadow-sm bg-white rounded-md p-5">
      <div class="flex items-center gap-4 flex-wrap lg:flex-nowrap mb-6">
        <!-- Left Filters -->
        <div class="flex items-center gap-3 flex-wrap lg:flex-nowrap">
          <!-- Create Invoice Button -->
          <p-button [raised]="true" label="{{ this.sharedService.T('createInvoice') }}" size="large" icon="pi pi-plus"
            (click)="redirectToInvoiceCrudComponent()"></p-button>

          <!-- Payment Status Filter -->
          <p-select [options]="this.sharedService.getEnums('invoiceType')" formControlName="type" optionLabel="text"
            optionValue="value" (onChange)="onChangeType($event)" [checkmark]="true" [showClear]="true"
            placeholder="{{ this.sharedService.T('chooseStatus') }}" (onClear)="onClearInvoiceType()"></p-select>

          <!-- Delivery Status Filter -->
          <p-select [options]="this.sharedService.getEnums('invoiceStatus')" formControlName="status" optionLabel="text"
            optionValue="value" (onChange)="onChangeStatus($event)" [checkmark]="true" [showClear]="true"
            placeholder="{{ this.sharedService.T('deliveryStatus') }}"></p-select>
        </div>

        <!-- Right Filters -->
        <div class="flex items-center gap-3 flex-wrap lg:flex-nowrap lg:ml-auto">
          <!-- Year Filter -->
          <div class="flex items-center content-center">
            <p-datepicker formControlName="year" size="large" view="year" dateFormat="yy" class="w-19"
              (onSelect)="onSelectYear($event)"></p-datepicker>
          </div>

          <!-- Date Range Filter -->
          <div class="my-auto">
            <div class="flex align-items-center justify-content-center">
              <div class="flex text-center gap-3">
                <p-datepicker formControlName="fromDate" dataType="string" class="w-30"
                  dateFormat="yy-mm-dd" [iconDisplay]="'input'" [showIcon]="false"
                  (onSelect)="onSelectFromDate($event)"></p-datepicker> 
              </div>
              <span class="my-auto">
                <img src="assets/images/line.png" alt="" />
              </span>
              <div class="flex text-center gap-3">
                <p-datepicker formControlName="toDate" class="w-30" dataType="string"
                  dateFormat="yy-mm-dd" [iconDisplay]="'input'" [showIcon]="false"
                  (onSelect)="onSelectToDate($event)"></p-datepicker>
              </div>
            </div>
          </div>
          <div class="rounded-md">
            <div class="w-full ps-2 rounded-md">
             <p-iconfield>
             <p-inputicon class="pi pi-search" />
              <p-autoComplete formControlName="vehiclePlate" [suggestions]="vehiclePlates"
                placeholder="{{ this.sharedService.T('search') }} {{ this.sharedService.T('vehiclePlate') }}"
                (onSelect)="onSelectNumberPlate($event)" (onClear)="onClearNumberPlate()"
                (keyup)="keyupNumberPlate($event.target)" optionLabel="vehiclePlate" [showClear]="true">
                <ng-template let-vehiclePlate pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ vehiclePlate }}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
             </p-iconfield>
            </div>
          </div>
        </div>

      </div>
      <!-- Divider -->
      <hr class="border-CustomBorder">

      <!-- Export Buttons -->
      <div class="flex justify-between items-center mt-4">
        <div class="flex items-center gap-10">
          <!-- Total Sum -->
          <div class="flex items-center gap-2">
            <span class="text-base font-medium text-gray-800">{{ this.sharedService.T('totalSum') }}:</span>
            <p-inputnumber [(ngModel)]="totalSum" [ngModelOptions]="{ standalone: true }" inputId="minmax"
              mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
              [locale]="this.sharedService.currentLocale" readonly="true" class="with-out-border"></p-inputnumber>
          </div>

          <!-- Net -->
          <div class="flex items-center gap-2">
            <span class="text-base font-medium text-gray-800">{{ this.sharedService.T('net') }}:</span>
            <p-inputnumber [(ngModel)]="totalNet" [ngModelOptions]="{ standalone: true }" inputId="minmax"
              mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
              [locale]="this.sharedService.currentLocale" readonly="true" class="with-out-border"></p-inputnumber>
          </div>

          <!-- VAT -->
          <div class="flex items-center gap-2">
            <span class="text-base font-medium text-gray-800">{{ this.sharedService.T('vat') }}:</span>
            <p-inputnumber [(ngModel)]="totalVat" [ngModelOptions]="{ standalone: true }" inputId="minmax"
              mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
              [locale]="this.sharedService.currentLocale" readonly="true" class="with-out-border"></p-inputnumber>
          </div>
        </div>
<div class="flex justify-end mt-4">
  <div class="flex gap-3 px-4 py-2 rounded-md">
    <p-button 
      size="small" 
      variant="outlined" 
      icon="pi pi-plus" 
      (click)="op.toggle($event)"  
      label="{{ this.sharedService.T('monthlyreport') }}">
    </p-button> 

    <p-popover #op>
      <div class="flex flex-col gap-4">
        <!-- Updated Label for Date Control -->
        <label for="month-picker" class="font-medium mb-1">Select Month:</label>
        
        <!-- Date Control with Spacing -->
        <p-datepicker 
          id="month-picker"
          [(ngModel)]="selectedMonth" 
          [ngModelOptions]="{standalone: true}"
          view="month" 
          dateFormat="MM yy" 
          showIcon="true" 
          iconDisplay="input"
          placeholder="Select Month" 
          styleClass="w-52 custom-picker" />
        
        <!-- Button with Vertical Space -->
        <p-button 
          label="{{ this.sharedService.T('add') }}" 
          size="small" 
          icon="pi pi-plus"
          (click)="downloadExcel()"
          class="mt-2">
        </p-button>
      </div>
    </p-popover>
  </div>
</div>

      </div>
    </div>
 
    <!-- Table Section -->
    <div class="mb-12">
      <p-table
      [lazy]="true" 
      [value]="invoices" 
      [showGridlines]="false"
      [paginator]="true"
      [rows]="filters.get('pageSize')?.value" 
      [first]="(filters.get('currentPage')?.value - 1) * filters.get('pageSize')?.value"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]"  
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords}"
      [showFirstLastIcon]="true"
      (onLazyLoad)="onPageChange($event)"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      responsiveLayout="scroll"
      data-testid="invoice-table">
        <ng-template pTemplate="header">
          <tr>
            <th class="rounded-l-xl" pSortableColumn="invoiceId">
              {{ this.sharedService.T('id') }}
              <p-sortIcon field="invoiceId"></p-sortIcon>
            </th>
            <th pSortableColumn="customerName">
              {{ this.sharedService.T('customer') }}
              <p-sortIcon field="customerName"></p-sortIcon>
            </th>
            <th>{{ this.sharedService.T('vehiclePlate') }}</th>
            <th>{{ this.sharedService.T('amount') }}</th>
            <th>{{ this.sharedService.T('invoiceDate') }}</th>
            <th>{{ this.sharedService.T('dueDate') }}</th>
            <th>{{ this.sharedService.T('paymentType') }}</th>
            <th>{{ this.sharedService.T('paymentStatus') }}</th>
            <th>{{ this.sharedService.T('deliveryStatus') }}</th>
            <th>{{ this.sharedService.T('comments') }}</th>
            <th class="rounded-r-xl"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-invoice>
          <tr data-testid="invoice-row">
            <!-- Invoice ID -->
            <td class="rounded-l-lg">
              <div class="flex items-center gap-2 cursor-pointer"
                (click)="redirectToInvoiceDetailComponent(invoice.invoiceId)">
                <span>{{ invoice.invoiceId }}</span>
                <i class="pi pi-external-link icon-primary"></i>
              </div>
            </td>

            <!-- Customer Name -->
            <td title="{{ invoice.customerName }}">
              {{ invoice.customerName.length > 18 ? (invoice.customerName | slice: 0:18) + '...' : invoice.customerName }}
            </td>

            <!-- Vehicle Plate -->
            <td>
              <strong>{{ invoice.vehiclePlate }}</strong>
            </td>

            <!-- Amount -->
            <td>
              <p-inputnumber [(ngModel)]="invoice.priceIncVat" [ngModelOptions]="{ standalone: true }" inputId="minmax"
                mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                [locale]="this.sharedService.currentLocale"
                [inputStyle]="{ 'background-color': 'transparent', 'width': '80px', 'display': 'block', 'padding': '0px', 'border': 'none' }"
                readonly="true" class="with-out-border"></p-inputnumber>
            </td>

            <!-- Invoice Date -->
            <td>{{ invoice.invoiceDate }}</td>

            <!-- Due Date -->
            <td>{{ invoice.dueDate }}</td>

            <!-- Payment Type -->
            <td>{{ this.sharedService.getEnumByValue('paymentType', invoice.paymentType).text }}</td>

            <!-- Payment Status -->
            <td>
              @if (invoice.priceIncVat < 0) { <p-button [disabled]="true"
                label="{{ this.sharedService.getEnumByValue('invoiceType', 'credited').text }}" variant="outlined"
                size="small" styleClass="text-xs h-9 w-24" severity="success" (onClick)="showPaymentDialog(invoice)"
                pTooltip="{{ this.sharedService.T('tp paymentHistory') }}" tooltipStyleClass="custom-tooltip"></p-button>
                }
                @else if (invoice.remainingBalance == 0 && invoice.isPaid)
                {
                <p-button label="{{ this.sharedService.getEnumByValue('invoiceType', 'paid').text }}" variant="outlined"
                  size="small" styleClass="text-xs h-9 w-24" severity="success" (onClick)="showPaymentDialog(invoice)"
                  pTooltip="{{ this.sharedService.T('tp paymentHistory') }}" tooltipStyleClass="custom-tooltip"></p-button>
                }
                @else if (invoice.remainingBalance > 0 && invoice.remainingBalance < invoice.priceIncVat) { <p-button
                  label="{{ this.sharedService.getEnumByValue('invoiceType', 'partiallypaid').text }}"
                  variant="outlined" size="small" styleClass="text-xs h-9 w-24" severity="warn"
                  (onClick)="showPaymentDialog(invoice)" pTooltip="{{ this.sharedService.T('tp paymentHistory') }}"
                  tooltipStyleClass="custom-tooltip"></p-button>
                  }
                  @else
                  {
                  <p-button label="{{ this.sharedService.getEnumByValue('invoiceType', 'unpaid').text }}"
                    variant="outlined" size="small" styleClass="text-xs h-9 w-24" severity="danger"
                    (onClick)="showPaymentDialog(invoice)" pTooltip="{{ this.sharedService.T('tp paymentHistory') }}"
                    tooltipStyleClass="custom-tooltip"></p-button>
                  }
            </td>

            <!-- Delivery Status -->
            <td>
              <p-togglebutton [disabled]="invoice.isSent" (onChange)="confirmMarkAsSent($event, invoice)"
                [(ngModel)]="invoice.isSent" [ngModelOptions]="{ standalone: true }"
                onLabel="{{ this.sharedService.T('sent') }}" 
                offLabel="{{ this.sharedService.T('notSent') }}" 
                onIcon="pi pi-check"
                offIcon="pi pi-times" size="small"></p-togglebutton>
            </td>

            <!-- Remarks -->
            <td>
              <ng-container *ngIf="invoice.remainingBalance > 0 && invoice.remainingBalance < invoice.priceIncVat">
                <span>{{ this.sharedService.T('remaining') }}</span>
                <p-inputnumber [(ngModel)]="invoice.remainingBalance" [ngModelOptions]="{standalone: true}"
                  inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                  [locale]="this.sharedService.currentLocale"
                  [inputStyle]="{ 'background-color': 'transparent', 'width': '80px', 'display': 'block', 'padding': '0px', 'border': 'none' }"
                  readonly="true" class="with-out-border"></p-inputnumber>
              </ng-container>
            </td>

            <!-- PDF Button -->
            <td class="rounded-r-lg">
              <p-button icon="pi pi-file-pdf" severity="primary" (click)="generatePdf(invoice)" size="small"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </form>
  <p-toast />
  <p-confirmdialog />
  <p-dialog [modal]="true" [(visible)]="isDialogVisible" styleClass="rounded-lg shadow-lg" [style]="{ width: '600px',height: '800px' }"
    (onHide)="onCloseDialog()">
    <!-- Header Template -->
    <ng-template #header>
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold text-gray-800">{{ this.sharedService.T('invoice') }} # {{
          this.payment.get('invoiceId')?.value }}</h2>
      </div>
    </ng-template>

    <!-- Content Section -->
    <div class="p-3 bg-white rounded-b-lg">
      <form [formGroup]="payment">
        <!-- Customer Info -->
        <div class="mb-6">
          <p class="text-lg font-semibold text-gray-700">{{ selectedCustomerName }}</p>
          <div class="text-right space-y-4"> <!-- Add vertical spacing with space-y-4 -->
            <!-- Total Sum -->
            <p class="text-base text-gray-600 right-aligned-label">
              {{ this.sharedService.T('totalSum') }}:
              <p-inputnumber [(ngModel)]="selectedPriceIncvat" [ngModelOptions]="{ standalone: true }" inputId="minmax"
                mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                [locale]="this.sharedService.currentLocale" readonly="true"
                class="with-out-border right-aligned-input"></p-inputnumber>
            </p>

            <!-- Paid -->
            <p class="text-base text-gray-600 right-aligned-label">
              {{ this.sharedService.T('paid') }}:
              <p-inputnumber [(ngModel)]="selectedTotalPaid" [ngModelOptions]="{ standalone: true }" inputId="minmax"
                mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                [locale]="this.sharedService.currentLocale" readonly="true"
                class="with-out-border right-aligned-input"></p-inputnumber>
            </p>

            <!-- Outstanding Balance -->
            <p class="text-base text-gray-800 font-semibold right-aligned-label">
              {{ this.sharedService.T('outstandingBalance') }}:
              <p-inputnumber [(ngModel)]="selectedRemainingBalance" [ngModelOptions]="{ standalone: true }"
                inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                [locale]="this.sharedService.currentLocale" readonly="true"
                class="with-out-border right-aligned-input text-red"></p-inputnumber>
            </p>
          </div>
        </div>
        <!-- Payment History Table -->
        <div class="mb-6">
          <p class="text-lg font-semibold text-gray-700">{{ this.sharedService.T('paymentHistory') }}</p>
          <p-table styleClass="text-sm" [tableStyle]="{ 'min-width': '100%' }" [value]="selectedPayments"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr class="bg-gray-100 text-gray-700">
                <th class="p-2 text-left">{{ this.sharedService.T('action') }}</th>
                <th class="p-2 text-left">{{ this.sharedService.T('date') }}</th>
                <th class="p-2 text-center">{{ this.sharedService.T('amount') }}</th>
                <th class="p-2 text-center">{{ this.sharedService.T('paymentNote') }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
              <tr class="hover:bg-gray-50">
                <td class="p-2">

                  <img src="assets/icons/invoice/cancel1.svg" alt="" class="cursor-pointer"
                    (click)="confirmDeletePayment($event, payment.invoiceId, payment.invoicePaymentId)" />
                </td>
                <td class="p-2">{{ payment.paymentDate }}</td>
                <td class="p-2 text-center">{{ payment.paymentAmount }}</td>
                <td class="p-2 text-center">
                  <p-button [pTooltip]="payment.paymentNote" tooltipPosition="right" tooltipStyleClass="custom-tooltip"
                    label="N"></p-button>

                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Payment Form -->
        <div class="grid grid-cols-2 gap-4 mb-6">
          <!-- Payment Date -->
          <div>
            <label class="mb-2 block">{{ this.sharedService.T('paymentDate') }}</label>
            <p-datepicker formControlName="paymentDate" [disabled]="addPaymentBtnDisabled" dataType="string"
              class="w-full" styleClass="border border-gray-300 rounded-md" iconDisplay="input" [showIcon]="false"
              dateFormat="yy-mm-dd" (onSelect)="onPaymentDateChange($event)"></p-datepicker>
          </div>

          <!-- Paid Amount -->
          <div>
            <label class="mb-2 block">{{ this.sharedService.T('paidAmount') }}</label>
            <p-inputnumber [disabled]="addPaymentBtnDisabled" formControlName="paymentAmount"
              placeholder="{{ this.sharedService.T('paidAmount') }}" inputId="minmax" mode="decimal" [min]="0" class="w-full"
              [useGrouping]="false"></p-inputnumber>
          </div>
        </div>

        <!-- Payment Note -->
        <div class="mb-6">
          <label class="mb-2 block">{{ this.sharedService.T('paymentNote') }}</label>
          <textarea [disabled]="addPaymentBtnDisabled" class="w-full" formControlName="paymentNote" rows="2"
            pTextarea></textarea>
        </div>

        <!-- Buttons -->
        <div class="flex justify-end gap-3">
          <p-button [disabled]="addPaymentBtnDisabled" label="{{ this.sharedService.T('addPayment') }}"
            (click)="onSave()"></p-button>

          <p-button severity="secondary" label="{{ this.sharedService.T('cancel') }}"
            (click)="onCancel()"></p-button>
        </div>
      </form>
    </div>
  </p-dialog>


</section>
